<!-- BACK BUTTON -->

<div class="row mt-3">
    <div class="col-md-12">
        <button routerLink="/home" type="button" class="btn btn-warning" style="color:white;">Back home</button>
        <hr>
    </div>
</div>


<!-- FILTER -->
<div class="row">
    <form [formGroup]="roomsFilterForm" (ngSubmit)="onSubmit()" style="margin:auto">
        <div class="form-row align-items-center">
            
                <div class="form-group col-md-4">
                        <label for="city">City</label>
                        <input type="text"
                               class="form-control" 
                               id="city"  
                               placeholder="Enter city"
                               formControlName="city"
                               [ngClass]="{ 'is-invalid': submitted && f.city.errors }"
                        >

                    <!-- Check if we have some errors --> 
                    <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                        <div *ngIf="f.city.errors.required">City is required</div>
                    </div>       
                </div>
               
           
        
            <div class="form-group col-md-4">
                    <label for="adults">Adults</label>
                    <select name="adults" 
                            id="inputState" 
                            class="form-control" 
                            formControlName="adults"
                            [ngClass]="{ 'is-invalid': submitted && f.adults.errors }"
                            >
                        <option [value]=1>1 adult</option>
                        <option selected [value]=2>2 adults</option>
                        <option [value]=3>3 adults</option>
                        <option [value]=4>4 adults</option>
                        <option [value]=5>5 adults</option>
                    </select>

                    <!-- Check if we have some errors --> 
                    <div *ngIf="submitted && f.adults.errors" class="invalid-feedback">
                        <div *ngIf="f.adults.errors.required">Adults is required</div>
                    </div> 
            </div>

            <div class="form-group col-md-4">
                    <label for="children">Children</label>
                    <select name="children"
                            id="inputState" 
                            class="form-control" 
                            formControlName="children"
                            [ngClass]="{ 'is-invalid': submitted && f.children.errors }"
                            >
                      
                      <option [value]=0 selected>Without children</option>
                      <option [value]=1>1 child</option>
                      <option [value]=2>2 children</option>
                      <option [value]=3>3 children</option>
                      <option [value]=4>4 children</option>
                      <option [value]=5>5 children</option>
                    </select>

                    <!-- Check if we have some errors --> 
                    <div *ngIf="submitted && f.children.errors" class="invalid-feedback">
                        <div *ngIf="f.children.errors.required">Chilren is required</div>
                    </div> 
            </div>
            <div class="form-group col-md-4">
                    <label for="checkIn">Check in</label>
                    <input class="form-control"
                           type="date"
                           id="checkIn"
                           formControlName="checkIn"
                            [ngClass]="{ 'is-invalid': submitted && f.checkIn.errors }"
                            >

                           <!-- Check if we have some errors --> 
                    <div *ngIf="submitted && f.checkIn.errors" class="invalid-feedback">
                        <div *ngIf="f.checkIn.errors.required">CheckIn is required</div>
                    </div> 
            </div>
            <div class="form-group col-md-4">
                    <label for="checkOut">Check out</label>
                    <input class="form-control" 
                           type="date"
                           id="checkOut"
                           formControlName="checkOut"
                            [ngClass]="{ 'is-invalid': submitted && f.checkOut.errors }"
                            >

                           <!-- Check if we have some errors --> 
                    <div *ngIf="submitted && f.checkOut.errors" class="invalid-feedback">
                        <div *ngIf="f.checkOut.errors.required">CheckOut is required</div>
                    </div> 
            </div>


            <div class="form-group col-md-4 mt-4">
                <button type="submit" style="margin-top:9px;"  class="btn btn-primary  btn-block">Search</button>
            </div>
        </div>
        <hr>
    </form>
</div>





