<div class="container-fluid mt-5">
    <div class="jumbotron jumbotron-fluid text-center">
            <div class="container">
                <h1 class="display-4">{{ title }}</h1>
                <p class="lead">{{userInfo}}</p>
                <p><button routerLinkActive="active" routerLink="/rooms" type="button" class="btn btn-danger">Book rooms</button></p>
            </div>
    </div>
</div>
