
<div class="col-md-3 mb-5">
<div class="card-deck">
      <div class="card">
        <img class="card-img-top" src="../../../assets/room1.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Makuseva livada</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <hr>
          <p class="card-text">Adults max: 2</p>
          <hr>
          <p class="card-text">Children max: 3</p>
          <hr>
          <p class="card-text">Price per night: 245e</p>
        </div>
        <div class="card-footer">
          <button type="button" class="btn btn-danger btn-lg btn-block">Book</button>
        </div>
    </div>
  </div>
</div>



<div class="col-md-3 mb-5">
    <div class="card-deck">
      <div class="card">
        <img class="card-img-top" src="../../../assets/room1.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Makuseva livada</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <hr>
          <p class="card-text">Adults max: 2</p>
          <hr>
          <p class="card-text">Children max: 3</p>
          <hr>
          <p class="card-text">Price per night: 245e</p>
        </div>
        <div class="card-footer">
          <button type="button" class="btn btn-danger btn-lg btn-block">Book</button>
        </div>
    </div>
  </div>
</div>

<div class="col-md-3 mb-5">
    <div class="card-deck">
      <div class="card">
        <img class="card-img-top" src="../../../assets/room1.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Makuseva livada</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <hr>
          <p class="card-text">Adults max: 2</p>
          <hr>
          <p class="card-text">Children max: 3</p>
          <hr>
          <p class="card-text">Price per night: 245e</p>
        </div>
        <div class="card-footer">
          <button type="button" class="btn btn-danger btn-lg btn-block">Book</button>
        </div>
    </div>
  </div>
</div>
