<div class="container-fluid">
    <app-room-filter (filterRooms)="filterRooms($event)"></app-room-filter>

    <!-- SEARCH -->
    <div class="row">
      <div class="col-md-8 mx-auto">
          <form>
                <input type="text"
                       class="form-control" 
                       id="searchTerm" 
                       placeholder="Search..."
                       name="searchTerm"
                       [(ngModel)]="searchTerm"
                       >
          </form>
      </div>
    </div>

    <hr>
    <div class="row mt-5">
    <!-- <app-room-item ></app-room-item> -->
      <div class="col-md-3 mb-5" *ngFor="let room of filteredRooms | roomSearchTermFilter:searchTerm">
          <div class="card-deck">
                <div class="card">
                  <img class="card-img-top" src="../../../assets/room1.png" alt="Card image cap">
                  <div class="card-body">
                    <h4 class="card-title">{{room.hotel.hotelName}}</h4>
                    <h6 class="card-title">{{ room.hotel.address }}, {{room.hotel.city}}, {{room.hotel.country}}</h6>
                   
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <hr>
                    <p class="card-text">Adults max: {{room.adultsMax}}</p>
                    <hr>
                    <p class="card-text">Children max: {{room.childrenMax}}</p>
                    <hr>
                    <p class="card-text">Price per night: {{room.pricePerNight}}</p>
                  </div>
                  <div class="card-footer">
                    <button type="button" (click)="reserveRoom(room.id)" class="btn btn-danger btn-lg btn-block">Book</button>
                  </div>
              </div>
          </div>
        </div>  
    </div>
</div>