<div class="container-fluid">
    <div>
      <h3  style="margin-bottom: 20px;">Sign Up</h3>
    </div>
    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
       

       <!-- First name -->
       <div class="form-group">
          <label for="firstName">First name</label>
          <input type="text"
                 class="form-control"
                 id="firstName"
                 placeholder="Enter first name"
                 formControlName="firstName"
                 [ngClass]= "{ 'is-invalid': submitted && f.firstName.errors}"
              >
              
       <!-- Check do we have some errors -->
           <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
              <!-- Check individual errors -->
              <div *ngIf="f.firstName.errors.required">First name is required</div>
                 
           </div>
       </div>
       <!-- End First name -->

       <!-- Last name -->
       <div class="form-group">
           <label for="lastName">Last name</label>
           <input type="text"
                  class="form-control"
                  id="lastName"
                  placeholder="Enter last name"
                  formControlName="lastName"
                  [ngClass] = "{ 'is-invalid': submitted && f.lastName.errors }">

            <!-- Check do we have some errors -->
            <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                <!-- Check individual errors -->
                <div *ngIf="f.lastName.errors.required">Last name is required</div>
            </div>      
       </div>
       <!-- End last name -->

       <!-- Start Email -->
       <div class="form-group">
           <label for="email">E-mail</label>
           <input type="text"
                  id="email"
                  class="form-control"
                  placeholder="Enter e-mail"
                  formControlName="email"
                  [ngClass] = "{ 'is-invalid': submitted && (f.email.errors || !emailValid )}"
                  (focus)="clearEmailValid()"
                  >

           <!-- Check do we have some errors -->
           <div *ngIf="submitted && (f.email.errors || !emailValid)" class="invalid-feedback">
               <!-- Check individuals errors -->
               <div *ngIf="f.email.errors && f.email.errors.required">E-mail is required</div>
               <div *ngIf="!emailValid && !f.email.errors">Email is not valid</div>
           </div>  
       </div>
       <!-- End Email -->

       <!-- Start Username -->
       <div class="form-group">
           <label for="username">Username</label>
           <input type="text"
                  id="username"
                  class="form-control"
                  formControlName="username"
                  placeholder="Enter username"
                  [ngClass]="{ 'is-invalid': submitted && f.username.errors }">

            <!-- Check do we have some errors -->
            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                <!-- Check individual errors -->
                <div *ngIf="f.username.errors?.required">Username is required</div>
            </div>      
       </div>
       <!-- End Username -->

       <!-- Start Password -->
       <div class="form-group">
           <label for="password">Password</label>
           <input type="password"
                  id="password"
                  class="form-control"
                  placeholder="Enter password"
                  formControlName="password"
                  [ngClass] = "{'is-invalid': submitted && (f.password.errors || !passwordValid) }"
                  (focus)="clearValid()"
                  (keyup)="checkPasswords()" 
                  >

            <!-- Check do we have some errors -->
            <div *ngIf="submitted && (f.password.errors || !passwordValid)" class="invalid-feedback">
                <!-- Check individual errors -->
                <div *ngIf="f.password.errors && f.password.errors.required">Password is required</div>
                <div *ngIf="!passwordValid && !f.password.errors" >Password must contain at least an uppercase letter,
                                             a special sign and a number or at least 6 characters long.</div>

            </div>      
       </div>
       <!-- End Password -->

       <!-- Start Confirm Password -->
       <div class="form-group">
           <label for="password2">Confirm password</label>
           <input type="password"
                  id="password2"
                  class="form-control"
                  placeholder="Confirm password"
                  formControlName="password2"
                  [ngClass]="{'is-invalid': submitted && (f.password2.errors || !passwordsMatch)}"
                  (keyup)="checkPasswords()"
                  >

           <!-- Check do we have some errors -->
           <div *ngIf="submitted && (f.password2.errors || !passwordsMatch)" class="invalid-feedback">
               <!-- Check individual errors -->
               <div *ngIf="f.password2.errors && f.password2.errors.required">Confirm password is required</div>
               <div *ngIf="!passwordsMatch">Passwords must match</div>
           </div> 
       </div>
       <!-- End Confirm Password -->


        <button type="submit" class="btn btn-primary">Sign Up</button>
    
    </form>
</div>