<nav class="navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" href="#">{{title}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample02">

      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <div *ngIf="authService.currentUser('User')"><a  class="nav-link" routerLinkActive="active" routerLink="/home">Home</a></div>
        </li>
        <li class="nav-item">
            <div *ngIf="authService.currentUser('User')" ><a routerLink="/rooms" routerLinkActive="active" class="nav-link" >Browse rooms</a></div>
          </li>
        <li class="nav-item">
          <a *ngIf="authService.currentUser('User')" class="nav-link" routerLinkActive="active" routerLink="/reservations">Reservations</a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto">
          <li class="nav-item">
              <div *ngIf="authService.currentUser('User')"><a routerLink="" class="nav-link">Profil</a></div>
            </li>
        <li class="nav-item">
            <div *ngIf="authService.currentUser()"><a routerLink="/logout" class="nav-link" (click)="logout()">Logout</a></div>
          </li>
      </ul>
    </div>
  </nav>