<div class="container-fluid">

  <!-- BACK BUTTON -->

<div class="row mt-3">
    <div class="col-md-12">
        <button routerLink="/rooms" type="button" class="btn btn-warning" style="color:white;">Back browse rooms</button>
        <hr>
    </div>
</div>
  <!-- End user menu -->

  <!-- List of reservations for user -->
  <div class="row" style="margin-top:12px;" >
    <div class="col-md-12">
      <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">#id</th>
              <th scope="col">Hotel</th>
              <th scope="col">CheckIn</th>
              <th scope="col">CheckOut</th>
              <th scope="col">Price per night</th>
          <!-- <th scope="col">Total price</th> -->
              <th scope="col">Room name</th>
              <th scope="col">Adults max</th>
              <th scope="col">Children max</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
          
           <tr *ngFor="let reservation of reservations">
              <th scope="row">{{ reservation.room.id }}</th>
              <td>{{ reservation.room.hotel.hotelName }}</td>
              <td>{{ reservation.checkInDate | date}}</td>
              <td>{{ reservation.checkOutDate | date }}</td>
              <td>{{ reservation.room.pricePerNight | currency:'EUR'}}</td>
             <!-- <td>{{ reservation.room.totalPrice }}</td> -->
              <td>{{ reservation.room.roomTitle }}</td>
              <td>{{ reservation.room.adultsMax }}</td>
              <td>{{ reservation.room.childrenMax }}</td>
              <td>
                  <button type="button" (click)="cancelReservation(reservation.id)" class="btn btn-danger" style="margin-left:12px;">Cancel</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
</div>
